/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-image: url(https://png.pngtree.com/png-clipart/20190515/original/pngtree-abstract-ethnic-african-pattern-png-image_3635909.jpg);
  background-size: auto 100vw;
  font-family: 'Roboto Mono', monospace;
  height: 100vh
}

/* Se a tela tiver ao menos 400px, carregará esse estilo */
@media (min-width: 400px) {
  body{
    font-size: 18px;
    background-size: 100vw;
}

@media (min-width: 600px) {
  body{
    font-size: 20px;
    background-size: 100vw;
  }
} 


header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.menu{
  background: #b08d25;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

.menu li {
  list-style: none; 
  font-family: 'Oxygen Mono', monospace;
  font-style: bold;

}

.site-title{
  text-align: center;
  color: whitesmoke;
  font-family: 'Oxygen Mono', monospace;
}

.site-subtitle{
  text-align: center;
  color: whitesmoke;
  font-family: 'Anonymous Pro', monospace;
  line-height: 2em;
}

.img-portfolio{
  width: 180px;
  height: 180px;
}

.portfolio {
 background-color: #5a5f63;
 padding: 2em;
}

.portfolio h2{
  color: black;
  font-family: 'Oxygen Mono', monospace;
  margin-bottom: 1.5em;
}

.portfolio .grid{
  display:: grid;
  grid-gap: 2em;
  grid-template-columns: 240px, 240px;
}

@media(min-width: 560px){
  .portfolio .grid{
  grid-template-columns: 240px, 240px;
}
}

.portfolio figure{
  text-align: center;
}